#about.section.group
  %p We are a co-operative with some of the most experienced web-application developers in the UK offering software development and design.
  %p Wholly owned and run by the hands that build your software. We are self-organising: we want you to work with the doers instead of the sayers.
  %p
    Please approach us with projects that are 
    = succeed ";" do
      %em inspiring
    we absolutely 
    = succeed "." do
      %em require a challenge