<div id="people" class="section group">
  <h2>Go Free Range Alumni</h2>

  <ol id="team" class="group">
    <li class="member group" id="james-adam">
      <%= member 'james-adam' %>
    </li>
    <li class="member group" id="tom-ward">
      <%= member 'tom-ward' %>
    </li>
    <li class="member group" id="jason-cale">
      <%= member 'jason-cale' %>
    </li>
    <li class="member group" id="kalvir-sandhu">
      <%= member 'kalvir-sandhu' %>
    </li>
    <li class="member group" id="james-andrews">
      <%= member 'james-andrews' %>
    </li>
    <li class="member group" id="luke-redpath">
      <%= member 'luke-redpath' %>
    </li>
    <li class="member group" id="gregory-bent">
      <%= member 'gregory-bent' %>
    </li>
  </ol>
</div>

:created_at: 2013-11-16 13:35:09 +0000
:created_sha: baea334ca9d066e54b2808daef4cdac46f87f0e3
:updated_at: 2017-08-19 10:50:48 +0100
:erb: true
