<% content_for :head do %>
  <style>
    @font-face {
      src:
        url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-bold-web.woff2') format('woff2'),
        url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-bold-web.woff') format('woff');
      font-family:'katwijk-mono-web';
      font-weight:700;
    }

    @font-face {
      src:
        url('https://dbqvwi2zcv14h.cloudfront.net/fonts/greve/greve-800-web.woff2') format('woff2'),
        url('https://dbqvwi2zcv14h.cloudfront.net/fonts/greve/greve-800-web.woff') format('woff');
      font-family:'greve-web';
      font-weight:800;
    }
  </style>
<% end %>

<%= link_to image_tag('/images/global-climate-strike-closed-sign-2color-green.png', width: '100%'), 'https://globalclimatestrike.net' %>

<div style="text-align: center;">
  <h1 style="font-family: greve-web,-apple-system,sans-serif; font-size: 58px; font-weight: 700; text-transform: uppercase; margin-bottom: 16px">
    London: Global Climate Strike
  </h1>
  <div style="font-family: katwijk-mono-web,monospace,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 22.4px; line-height: 31.36px">
    <div style="font-weight: 700">
      Friday, September 20, 11:00 AM
    </div>
    <div>
      London, United Kingdom
    </div>
  </div>
</div>

:page_title: Go Free Range build outstanding software for the web.
:is_page: true
:updated_at: 2009-12-08 00:00:00 +00:00
:created_at: 2009-12-01 00:00:00 +00:00
:layout: 'basic'
