<h2>Projects</h2>

<ol id="project-list">
  <li id="bbc-voice">
    <%= project 'bbc-voice' %>
  </li>
  <li id="asset-manager">
    <%= project 'asset-manager' %>
  </li>
  <li id="manuals-publisher">
    <%= project 'manuals-publisher' %>
  </li>
  <li id="music-library">
    <%= project 'music-library' %>
  </li>
  <li id="smart-answers">
    <%= project 'smart-answers' %>
  </li>
  <li id="futurelearn-pairing">
    <%= project 'futurelearn-pairing' %>
  </li>
  <li id="gfr-video">
    <%= project 'gfr-video' %>
  </li>
  <li id="credit-union">
    <%= project 'credit-union' %>
  </li>
  <li id="makie">
    <%= project 'makie' %>
  </li>
  <li id="futurelearn-video">
    <%= project 'futurelearn-video' %>
  </li>
  <li id="futurelearn-mooc-platform">
    <%= project 'futurelearn-mooc-platform' %>
  </li>
  <li id="harmonia">
    <%= project 'harmonia' %>
  </li>
  <li id="government-single-domain">
    <%= project 'government-single-domain' %>
  </li>
  <li id="voicenet">
    <%= project 'voicenet' %>
  </li>
  <li id="hashblue">
    <%= project 'hashblue' %>
  </li>
  <li id="mubi">
    <%= project 'mubi' %>
  </li>
  <li id="caffeine-monitor">
    <%= project 'caffeine-monitor' %>
  </li>
  <li id="chromaroma">
    <%= project 'chromaroma' %>
  </li>
</ol>

:created_at: 2016-11-03 17:29:35 +0000
:created_sha: 8aeea2f014edc7061eb9acbede1e9aab79c023f1
:updated_at: 2017-08-19 10:50:48 +0100
