<div id="work" class="section group">
  <h2>Significant Projects</h2>

  <ol id="project-list">
    <li>
      <%= project 'codeclubworld' %>
    </li>
    <li>
      <%= project 'futurelearn-mooc-platform' %>
    </li>
    <li>
      <%= project 'government-single-domain' %>
    </li>
  </ol>
  <p>
    <a href="/projects">Fuller list of projects</a>
  </p>
</div>

:created_at: 2010-07-21 13:12:26 +0100
:created_sha: 3d10ae1f1a58883519a8bd92a44eb7f454a12ad5
:updated_at: 2017-08-19 10:50:48 +0100
