#grid {
  background: url(/images/grid/bg-grid-980.gif) repeat-y 0 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 980px;
  margin-left: -490px;
  z-index: 1;
}
#grid div.horiz {
  height: 20px;
  border-bottom: 1px dotted #ff0000;
  margin: 0;
  padding: 0;
}
#grid.grid-1 { background: url(/images/grid/bg-grid-980.gif) repeat-y 0 0; }
#grid.grid-2 {
  background: url(/images/grid/bg-grid-660.gif) repeat-y 160px 0;
  padding: 0 160px;
  width: 660px;
}
