* {
  margin: 0;
  padding: 0;
}


body {
  font-size: 62.5%;
  font-family: "Helvetica", "Arial";
  background-color: #fff;
  color: #222;
}


.header {
  margin-top: 8em;
}

.header h1 {
  width: 850px;
  height: 79px;
  margin: 0 auto;
  
  background: url(/images/logo.png) no-repeat;
  text-indent: -3000px;
}

#nav {
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fffff5;
  padding: 0 1em;
  width: 100%;
  z-index: 100;
}

#nav ul {
  margin: 0 auto;
  display: inline;
  width: 870px;
  display: block;
  padding: 2em 0 0.5em 0;
}

#nav ul li {
  display: inline;
}

#nav ul li a {
  text-decoration: none;
  width: 5em;
  padding: 0 2em 0 0;
  font-weight: normal;
  font-size: 1.3em;
}

#content h2 {
  font-size: 3.5em;
  line-height: 1.5em;
  font-family: "Georgia";
  text-transform: uppercase;
  color: #555555;
  text-shadow: #999 1px 1px 2px;
  font-weight: normal;
}

#content h3 {
  font-size: 2.5em;
  line-height: 2em;
  color: #454545;
  padding-top: 0.8em;
}

#content .section ul {
  margin: 1em 0 2em 0;
  padding: 0 2em;
}

#content .section {
  margin: 2em 0 2em 0;
  border-top: 1px solid #eee;
  padding-top: 1em;
  width: 850px;
  margin: 0 auto;
}

#content .footer .section  {
  padding-top: 2em;
  border-top: none;
  width: 850px;
  margin: 0 auto;
}

#content .section ul li {
  padding: 0.5em 0;
}

#content p, li {
  font-size: 1.3em;
}

#content li p {
  font-size: 1em;
}

#content li h3 {
  font-size: 2em;
}

#content .section p {
  line-height: 1.6em;
  padding-bottom: 1em;
}

#content .portfolio_piece ul {
  margin: 2em 0 3em 0;
  padding: 0;
}

#content .portfolio_piece li {
  display: inline;
}

#content .portfolio_piece li img {
  border: 1px solid #eee;
  margin-right: 1.5em;
  -webkit-box-shadow: 3px 5px 10px #ccc;
}

#content #team {
  border-bottom: 0;
}

#content #team ul {
  list-style:none;
  padding-left:0px;
}

#content #team li img {
  float: right;
  border: 5px solid #fff;
  -webkit-box-shadow: 1px 1px 4px #ccc;
}

#content #team li p {
  width: 50em;
}

#content #team .pending {
  font-style: italic;
}

#content #details {
  margin:1em 0em;
}

a {
  color: #444;
  font-weight: bold;
}

a:hover {
  color: #111;
}

a.top {
  float: right;
  padding: 1em 2em 1em 1em;
}

.footer {
  padding-bottom: 10em;
  background: #fefefe;
  border-top: 1px solid #eee;
}

/** vanilla **/
textarea {
  width: 100%;
}

textarea.content {
  min-height: 10em;
}