@import "_reset";
@import "_grid";

/* 
  Master styles for application.
*/

/* Global Variables */
@font_family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
@link_hover: #db4a1d;
/* body style */

body {
	color: #444;
	font-family: @font_family;
	font-size: 62.5%;
}
	
/* links */

a {
  color: #990057;
  font-weight: bold;
  text-decoration: none;
}

a:link, a:visited {
	outline: none;
}

a:hover {
  color: @link_hover;
}


/* page structure 
--------------------------------------------- */

#page {
  padding: 2em;
  margin: 0;
  position: relative;  
  background: #fdfffb url(/images/bg_w.jpg) center fixed;
}

/* header 
--------------------------------------------- */

#header {
  
  /* logo */  
  h1 {
    height: 229px;
    position: relative;
    width: 370px;
    padding-top: 3.2em;
    padding-bottom: 0;
    margin: 0 auto;

    a {
      display: block;
      background: url(/images/logo.png) no-repeat 0 0;
      text-indent: -9999px;
      width: 291px;
      height: 229px;
      margin: 0;
      padding: 0;
    }
    
    a:hover {
      opacity: 0.8;
    }
  }
  
  h2 {
    font-size: 3em;
    line-height: 1.68em;
    color: #222;
    font-weight: normal;
    width: 600px;
    padding-top: 0.9em;
    margin: 0 auto;
    text-align: center;
  }
  
}

/* navigation */

/* main styles 
--------------------------------------------- */

#content {
  position: relative;
  width: 60em;
  margin: 0 auto;
  padding-top: 1.2em;

  .section {    
    padding-top: 3em;

    h2 {
      font-size: 3.5em;
      line-height: 1.45em;
      text-align: center;
      font-family: "museo-slab-1","museo-slab-2";
      font-weight: 100;
      padding-bottom: 0.4em;
    }
         
    h3 {
      font-size: 2em;
      line-height: 1.6em;
    }
     
    h4 {
      font-size: 1.8em;
      line-height: 1.6em;
    }

    h2 + ul, h3 + ul, h4 + ul {
      list-style: disc;
      padding: 1.6em;
    }

    p {
      font-size: 1.6em;
      line-height: 1.6em;
      padding-bottom: 1.6em;
    }

  }
  
  ol#project-list {
    li {
      margin-bottom: 2.5em;
    }
  }
  
  ol#team {
    li.member {
      margin-bottom: 2.5em;
      
      img {
        float: left;
        width: 148px;
        display: block;
        padding: 10px;
        background: #fff;
        border: 1px solid #999;
        margin-top: 0.8em;
      }
      
      .info {
        float: right;
        width: 65%;
        
        
        p {
          font-size: 1.4em;
        }
      }
    }
  }

  .vcard {
    p {
      padding-bottom: 0;
    }
  }
  
  
  
  #contact {
    em {
      font-weight: bold;
    }
  
    #working-together {
      width: 55%;
      float: left;
      margin-right: 1.5em;
          
      p {
        font-size: 1.4em;
      }
    }
  
    
    #address-etc {
      width: 40%;
      float: right;
      
      p {
        font-size: 1.4em;
      }
    }
  }
  
  
}
     
 
@import "_misc";