html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#grid {
  background: url(/images/grid/grid.png) repeat-y 0 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 980px;
  margin-left: -486px;
  z-index: 1;
}
#grid div.horiz {
  height: 24px;
  border-bottom: 1px dotted #f00;
  margin: 0;
  padding: 0;
}
/* 
  Master styles for application.
*/
/* Global Variables */
/* body style */
body {
  color: #444;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", serif;
  font-size: 62.5%;
}
/* links */
a {
  color: #990057;
  font-weight: bold;
  text-decoration: none;
}
a:link, a:visited {
  outline: none;
}
a:hover {
  color: #db4a1d;
}
/* page structure 
--------------------------------------------- */
#page {
  padding: 2em;
  margin: 0;
  position: relative;
  background: #fdfffb url(/images/bg_w.jpg) center fixed;
}
/* header 
--------------------------------------------- */
#header {
  /* logo */
}
#header h1 {
  height: 229px;
  position: relative;
  width: 370px;
  padding-top: 3.2em;
  padding-bottom: 0;
  margin: 0 auto;
}
#header h1 a {
  display: block;
  background: url(/images/logo.png) no-repeat 0 0;
  text-indent: -9999px;
  width: 291px;
  height: 229px;
  margin: 0;
  padding: 0;
}
#header h1 a:hover {
  opacity: 0.8;
}
#header h2 {
  font-size: 3em;
  line-height: 1.68em;
  color: #222;
  font-weight: normal;
  width: 600px;
  padding-top: 0.9em;
  margin: 0 auto;
  text-align: center;
}
/* navigation */
/* main styles 
--------------------------------------------- */
#content {
  position: relative;
  width: 60em;
  margin: 0 auto;
  padding-top: 1.2em;
}
#content .section {
  padding-top: 3em;
}
#content .section h2 {
  font-size: 3.5em;
  line-height: 1.45em;
  text-align: center;
  font-family: "museo-slab-1", "museo-slab-2";
  font-weight: 100;
  padding-bottom: 0.4em;
}
#content .section h3 {
  font-size: 2em;
  line-height: 1.6em;
}
#content .section h4 {
  font-size: 1.8em;
  line-height: 1.6em;
}
#content .section h2 + ul, #content .section h3 + ul, #content .section h4 + ul {
  list-style: disc;
  padding: 1.6em;
}
#content .section p {
  font-size: 1.6em;
  line-height: 1.6em;
  padding-bottom: 1.6em;
}
#content ol#team li.member {
  margin-bottom: 2.5em;
}
#content ol#team li.member img {
  float: left;
  width: 148px;
  display: block;
  padding: 10px;
  background: #fff;
  border: 1px solid #999;
  margin-top: 0.8em;
}
#content ol#team li.member .info {
  float: right;
  width: 65%;
}
#content ol#team li.member .info p {
  font-size: 1.4em;
}
#content .vcard p {
  padding-bottom: 0;
}
/* misc. 
--------------------------------------------- */
hr, .hide {
  display: none;
}
a img {
  border: none;
}
span.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  color: #766557;
}
/* self-clear floats */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  clear: both;
}
