html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#grid {
  background: url(/images/grid/grid.png) repeat-y 0 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 980px;
  margin-left: -486px;
  z-index: 1;
}
#grid div.horiz {
  height: 20px;
  border-bottom: 1px dotted #ff0000;
  margin: 0;
  padding: 0;
}
body {
  color: #444444;
  font-family: "droid-sans-1", "droid-sans-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}
a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
a:link {
  outline: none;
  color: #333333;
}
a:visited {
  outline: none;
  color: #333333;
}
a:hover { color: #db4a1d; }
.eins { width: 96px; }
.zwei { width: 180px; }
.drei { width: 276px; }
.vier { width: 372px; }
.funf { width: 468px; }
.sechs { width: 564px; }
.sieben { width: 660px; }
.acht { width: 756px; }
.neun { width: 852px; }
.zehn { width: 948px; }
#page {
  font-size: 1.2em;
  line-height: 1.833333em;
  padding: 0;
  position: relative;
  background: #c7fee4 url(/images/bg_a.jpg) no-repeat top center;
}
#header {
  max-width: 81em;
  margin: 0 auto;
}
#header h1 {
  float: left;
  width: 300px;
  height: 157px;
  margin-top: 4.4em;
  position: relative;
  z-index: 100;
}
#header h1 a {
  display: block;
  background: url(/images/logo.png) no-repeat 0 0;
  text-indent: -9999px;
  width: 291px;
  height: 229px;
  margin: 0;
  padding: 0;
  margin-left: -10%;
}
#header h2 {
  float: left;
  margin-top: 2.55em;
  font-size: 3em;
  line-height: 1.22em;
  color: #222222;
  font-weight: normal;
}
#content { position: relative; }
#content .section { padding: 1.9em 0 5.6em 0; }
#content .section .container {
  position: relative;
  max-width: 81em;
  margin: 0 auto;
}
#content .section .container h2 + p { padding-top: 0.4em; }
#content .section h2 {
  font-size: 2.6em;
  line-height: 1em;
  padding-bottom: 0.45em;
  font-style: italic;
  color: #e1e1e1;
}
#content .section .container > h2 {
  padding: 0 0.4em 2em 0.4em;
  text-align: center;
}
#content .section h3 {
  font-size: 2em;
  line-height: 1em;
}
#content .section h4 {
  font-size: 1.8em;
  line-height: 1em;
}
#content .section h2 + p {
  padding-top: 1.6em;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}
#content .section h3 + p {
  padding-top: 1.6em;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}
#content .section h2 + ul { padding-top: 1.2em; }
#content .section h3 + ul { padding-top: 1.2em; }
#content .section h4 + ul { padding-top: 1.2em; }
#content .section p {
  font-size: 1.2em;
  line-height: 1.5em;
}
#content #about {
  border: none;
  padding-top: 0;
}
#content #about .container { padding-top: 0.3em; }
#content #about .container p {
  width: 576px;
  padding-left: 300px;
  padding-bottom: 1.5em;
}
#content #about .container p:first-child {
  font-size: 1.6em;
  line-height: 1.15em;
  padding-bottom: 1.15em;
}
#content #work { background: transparent url(/images/bg_w.jpg) no-repeat 50% 250px; }
#content #work h2 { color: #777777; }
#content #work .project_toggle {
  position: absolute;
  padding: 0 12px 0 12px;
  width: 852px;
  margin: 0 auto;
  top: 0;
  left: 0;
}
#content #work .project_toggle a {
  background: #444444;
  background: rgba(10, 10, 10, 0.8);
  color: #dddddd;
  text-shadow: 0;
  padding: 2em 1.8em;
  border-bottom-left-radius: 150px 150px;
  border-bottom-right-radius: 150px 150px;
  border-top-left-radius: 150px 150px;
  border-top-right-radius: 150px 150px;
  text-align: center;
}
#content #work .project_toggle a:hover {
  color: #ffffff;
  background: #222222;
}
#content #work .project_toggle .prev { float: left; }
#content #work .project_toggle .next { float: right; }
#content #work ol {
  overflow: hidden;
  padding-left: 12px;
}
#content #work ol li .project-desc {
  width: 276px;
  float: left;
  padding-right: 12px;
}
#content #work ol li .project-desc h3 + p { padding-top: 2em; }
#content #work ol li .project-desc p {
  font-size: 1em;
  line-height: 1.8em;
  padding-bottom: 1.8em;
  padding-right: 12px;
}
#content #work ol li .project-desc ul {
  padding: 0 0 1.8em 1.3em;
  list-style: circle;
}
#content #work ol li .project-desc ul li {
  padding: 0;
  line-height: 1.75em;
}
#content #work ol li ul.project-images {
  width: 672px;
  float: left;
}
#content #work ol li ul.project-images li { width: 564px; }
#content #work ol li div.pimg-wrap {
  overflow: hidden;
  height: 335px;
  width: 672px;
  float: left;
}
#content #work ol li div.pimg-wrap ul.project-images { float: none; }
#content #ethos {
  background: #fdfffb url(/images/bg_e.jpg) no-repeat 50% 0;
  border-top: 1px solid #222222;
}
#content #ethos .container h2 { color: #333333; }
#content #ethos .container p {
  padding-left: 12px;
  padding-right: 12px;
}
#content #ethos .container .idea {
  margin-top: 3.1em;
  margin-left: 12px;
  float: left;
}
#content #ethos .container .idea ul { padding: 2em 0 1.8em 0; }
#content #ethos .container .idea ul li p {
  font-size: 1em;
  line-height: 1.8em;
  padding-bottom: 1.8em;
  padding-right: 12px;
  font-family: "droid-serif-1", "droid-serif-2", serif;
  font-style: italic;
}
#content #ethos .container .idea p {
  padding-left: 0;
  padding-right: 0;
}
#content #people {
  padding-top: 3.3em;
  padding-bottom: 3.3em;
  background: #fff141 url(/images/bg_p.jpg) no-repeat 50% 0;
  border-bottom: 1px solid #d8cb32;
  border-top: 1px solid #dddddd;
}
#content #people .container h2 { color: #8b8323; }
#content #people .container p { padding-left: 12px; }
#content #people .container ol#team {
  padding-top: 1.8em;
  padding-left: 12px;
}
#content #people .container ol#team li {
  background: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  width: 454px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid #f1f1f1;
  padding: 1em 12px 1em 0;
}
#content #people .container ol#team li p { padding-left: 0; }
#content #people .container ol#team li img {
  float: left;
  margin-right: 12px;
  margin-left: 12px;
}
#content #people .container ol#team li h3 {
  font-size: 1.2em;
  padding: 0;
  float: left;
  line-height: 1.3em;
  padding-bottom: 0.3em;
}
#content #people .container ol#team li p.links {
  font-size: 1em;
  float: left;
  padding: 0;
  margin-left: 1em;
  color: #dddddd;
}
#content #people .container ol#team li p.links a { color: #cccccc; }
#content #people .container ol#team li p.links a:hover { color: #db4a1d; }
#content #people .container ol#team li .info {
  float: right;
  width: 276px;
}
#content #people .container ol#team li div.bio { clear: both; }
#content #people .container ol#team li div.bio p {
  font-size: 1em;
  line-height: 1.8em;
  font-style: italic;
  font-weight: normal;
}
#content #people .container ol#team li div.bio p + p { padding-top: 1.8em; }
#content #contact { background: #fdfffb url(/images/bg_c.jpg) no-repeat center bottom; }
#content #contact .container h2 { text-align: left; }
#content #contact .container p { padding-bottom: 1.5em; }
#content #contact .container ul {
  padding-top: 0.2em;
  padding-bottom: 1.5em;
}
#content #contact .container ul li {
  width: 384px;
  line-height: 1.8em;
  padding-bottom: 1.8em;
}
#content #contact .container ul li em { font-weight: bold; }
#content #contact #working-together {
  width: 468px;
  float: left;
  padding-left: 12px;
}
#content #contact #address-etc {
  padding-top: 0.35em;
  width: 372px;
  float: left;
  padding-left: 12px;
}
#content #contact #address-etc h4 {
  font-size: 1.5em;
  padding-bottom: 1.4em;
}
#content #contact #address-etc .vcard p { padding: 0; }
ol.scrollist { position: relative; }
ol.scrollist li { float: left; }
form p {
  font-size: 0.8em;
  padding: 0 0 0 0;
  line-height: 1.5em;
}
form p.submit input { float: right; }
form input {
  max-width: 20em;
  width: 100%;
}
form input {
  background: #eeeeee;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #cccccc;
  color: #333333;
  display: block;
  font-size: 1.4em;
  line-height: 1.5em;
}
form textarea {
  background: #eeeeee;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #cccccc;
  color: #333333;
  display: block;
  font-size: 1.4em;
  line-height: 1.5em;
}
form input:focus {
  background: #f9f9f9;
  border-bottom: 1px solid #eeeeee;
  color: #222222;
}
form textarea:focus {
  background: #f9f9f9;
  border-bottom: 1px solid #eeeeee;
  color: #222222;
}
form input[type=checkbox] {
  width: 1em;
  float: left;
  height: 1em;
}
form input[type=checkbox] + label { float: left; }
form input[type=checkbox] + label:hover {
  color: #333333;
  cursor: pointer;
}
form input[type=submit] {
  background: #cccccc;
  border-radius: 0.3em;
  border: 1px solid #c5c5c5;
  color: #666666;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.2em 1em 0.3em 1em;
  text-shadow: #eeeeee 0px 1px 0;
  width: auto;
}
form input[type=submit]:hover {
  background-color: #bbbbbb;
  border: 1px solid #b5b5b5;
  color: #444444;
  text-shadow: #cccccc 0px 1px 0;
}
form input[type=submit]:disabled {
  background-color: #cccccc;
  border: 1px solid #c5c5c5;
  color: #666666;
  cursor: default;
  opacity: 0.5;
  text-shadow: #eeeeee 0px 1px 0;
}
form label {
  color: #666666;
  line-height: 1.6em;
}
form label span {
  font-size: 0.6em;
  font-weight: normal;
  color: #999999;
}
hr, .hide { display: none; }
a img { border: none; }
span.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  color: #766557;
}
em {
  font-family: "droid-serif-1", "droid-serif-2", serif;
  font-style: italic;
}
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear { clear: both; }
