@import "_reset";
@import "_grid";

/* 
  Master styles for application.
*/

/* Global Variables */

@font_family: "droid-sans-1", "droid-sans-2", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	color: #444;
	font-family: @font_family;
	font-size: 62.5%;
	background-color: #fff;
	background-image: url(/images/bg.jpg);
}
	
/* links */

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-shadow: #eee 0px 1px 0;
}

a:link, a:visited {
	outline: none;
	color: #333;
}

a:hover {
  color: #db4a1d;
}

/* page structure 
--------------------------------------------- */

#page {
  font-size: 1.2em; // 12pt
  line-height: 1.833333em; // 22px
  padding: 0;
  position: relative;
}

/* header 
--------------------------------------------- */

#header {
  width: 85em;
  margin: 0 auto;
  padding-top: 2.75em;
  padding-left: 4em;
  
  /* logo */  
  h1 {
    float: left;
    font-size: 5em;
    width: 279px;
    height: 68px;    
    
    a {
      display: block;
      background: url(/images/logo.png) no-repeat 9px 0;
      text-indent: -9999px;
      width: 288px;
      height: 68px;
    }
  }
  
  h2 {
    float: left;
    margin-left: 0.4em;
    font-size: 4em;
    background: url(/images/build_outstanding_software.png) no-repeat;
    text-indent: -9999px;
    width: 719px;
    height: 68px;
  }
  
}

/* navigation */

ul#nav {
  
}


/* main styles 
--------------------------------------------- */

#content {
  position: relative;
    
  .section {
    
    .container {
      position: relative;
      max-width: 81em; // 960px
      margin: 0 auto;
    }

    
    h2 {
      font-size: 4em;
      padding-bottom: 0.45em;
    }
    
    h3 {
      font-size: 2em;
    }
    
    h4 {
      font-size: 1.8em;
    }
    
    h2 + p, h3 + p {
      padding-top: 1.45em;
      font-size: 1.3em;
      padding-bottom: 1.45em;
    }
    
    h2 + ul, h3 + ul, h4 + ul {
      padding-top: 1.2em;
    }
    
    p {
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }
  
  @gutter: 12px;
  @col: 84px;
  @col_size: @gutter + @col;
  
  .eins   { width: @col_size; }
  .zwei   { width: @col_size * 2 - @gutter; }
  .drei   { width: @col_size * 3 - @gutter; }
  .vier   { width: @col_size * 4 - @gutter; }
  .funf   { width: @col_size * 5 - @gutter; }
  .sechs  { width: @col_size * 6 - @gutter; }
  .sieben { width: @col_size * 7 - @gutter; }
  .acht   { width: @col_size * 8 - @gutter; }
  .neun   { width: @col_size * 9 - @gutter; }
  .zehn   { width: @col_size * 10 - @gutter; }
    
  #about {
    background: url(/images/bg_1.jpg) 50% 5px no-repeat;
    
    #intro {
      position: relative;
      top: 0;
      left: @col_size * 3;
      
      padding: 5.95em 0 0 @gutter;
    
      p:first-child {
        font-size: 1.4em;
        font-weight: bold;
        line-height: 1.3em;
      }
      
      p { 
        color: #676767;
        padding-bottom: 1.3em;
      }
    }
    
    #co-op {
      
      margin-top: -1.7em;
      
      float: left;
      padding: 0 @gutter 0 @gutter;
      
      h2 {
        text-transform: uppercase;
        line-height: 0.9em;
                
        strong { 
          display: block; 
          color: #4ca75a; 
        }
        
      }
      
      p {        
        padding: 0 0 1.45em 0;
        width: @col_size * 3.5;
      }
      
      h2 + p {
        padding-top: 0.1em;
        line-height: 1.4em;
      }
      
    }
    
    #people {
      float: left;
      padding: 7px 0 0 0;
      
      h2 {
        background: url(/images/made_of_people.jpg) no-repeat;
        width: 440px;
        height: 70px;
        text-indent: -9999px;
        padding: 0;
      }
      
      ul {
        padding: 0.4em 0 0 0;

        li {
          float: left;
          width: @col;
          margin-right: @gutter;
          a {
            text-align: center;
            display: block;
            text-transform: uppercase;
            font-size: 1.4em;
            padding-top: 0.4em;
            padding-bottom: 0.25em;
          }
          
          a.chosen {
            background: #eee;
            background-color: rgba(255,255,255,0.2);
          }
          
        }
        
        li:last-child {
          margin-right: 0;
        }
        
      }
      
      .person {
        width: @col_size * 6;
      
        img {
          width: (@col_size * 6) - (@gutter * 3);
          background: #eee;
          background-color: rgba(255,255,255,0.2);
          padding: @gutter;
          display: block;
          margin-bottom: 2.55em;
        }
      }
      
      ol.scrollist {
        position: relative;
                
        li {
          float: left;
        }
        
      }
    }
    
  }
  
  .project_toggle {
    position: relative;
    
    a {
      display: block;
      width: 100px;
      height: 60px;
      background: #ddd;
      text-align: center;
      padding-top: 35px;
    }
    
    .prev {
      position: absolute;
      top: 3em;
      left: -10em;
    }

    .next {
      position: absolute;
      top: 3em;
      right: -10em;
    } 
  }
  
  #work {
          
    ol {
      position: relative;
      
      li.project {
        padding-bottom: 1em;
        float: left;
        width: 79em;
        margin-right: 1em;
      
        .project-images {
          height: 30em;
          padding: 1em;
          background: #fffdf3;
          border: 1px solid #eee;
      
          .holder {
            background: #000;
            width: 100%;
            height: 100%;
            overflow: hidden;
      
            img {
              width: 100%;
            }
          }
        }
      
        .project-desc {
          width: 59.5%;
          float: left;
          padding: 1em 0 0 0;
        }
      
        .project-insight {
          float: left;
          width: 39.3%;
          padding: 1em 0 0 1em;
        }
      }
    }
  }
    
  #contact {
  
    textarea {
      width: 98.5%;
      height: 10em;
      font-size: 1.2em;
    }
  }
}

/* headings */

h1 {
  
}

h2 {
  font-size: 1.8em;
}

h3 {
  
}

h4 {
  
}
	
span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.2em;
	color: #766557;
}

form {
  
  p {
    font-size: 0.8em;
    padding: 0.5em 0em;
    line-height: 1.8em;
  }
  
  p.submit {
    input {
      float: right;
    }
  }
  
  input {
    margin-bottom: 1em;
    max-width: 20em;
    width: 100%;
  }
  
  input, textarea {
    background: #eee;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #ccc;
    color: #333;
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
  }
  
  input:focus, textarea:focus {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    color: #222;
  }
  
  input[type=checkbox] {
    width: 1em;
    float: left;
    height: 1em;
    
    + label {
      float: left;
    }
    
    + label:hover {
      color: #333;
      cursor: pointer;
    }    
  }
  
  input[type=submit] {
    -moz-border-radius: 0.5em; /* FF1+ */
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-border-radius: 0.5em; /* Saf3+, Chrome */    
    -webkit-transition: all 0.3s linear;
    background: #ccc;
    border-radius: 0.3em; /* Opera 10.5, IE 9 */
    border: 1px solid #c5c5c5;
    color: #666;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.2em 1em 0.3em 1em;
    text-shadow: #eee 0px 1px 0;
    width: auto;
  }
  
  input[type=submit]:hover {
    background-color: #bbb;
    border: 1px solid #b5b5b5;
    color: #444;
    text-shadow: #ccc 0px 1px 0;
  }
  
  input[type=submit]:disabled {
    background-color: #ccc;
    border: 1px solid #c5c5c5;
    color: #666;
    cursor: default;
    opacity: 0.5;
    text-shadow: #eee 0px 1px 0;
  }
  
  label {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6em;
    
    span {
      font-size: 0.6em;
      font-weight: normal;
      color: #999;
    }
  }
}

/* footer 
--------------------------------------------- */


/* misc. 
--------------------------------------------- */

hr, .hide {
	display: none;
}
	
a img {
	border: none;
}

/* self-clear floats */

.group:after {
	content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}