@import "_reset";
@import "_grid";

/* 
  Master styles for application.
*/

/* Global Variables */

@font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	color: #444;
	font-family: @font_family;
	font-size: 62.5%;
	background-color: #fff;
	background-image: url(/images/bg.png);
}
	
/* links */

a {
  color: #555;
}

a {
  font-weight: bold;
  text-decoration: none;
  text-shadow: #fff 0px 1px 0;
}

a:link, a:visited {
	outline: none;
	color: #555;
}

a:hover {
  color: red;
}

/* page structure 
--------------------------------------------- */

#page {
  font-size: 1.2em; // 12pt
  line-height: 1.833333em; // 22px
  max-width: 81em; // 960px
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* header 
--------------------------------------------- */

#header {
  /* logo */
    
}

/* navigation */

ul#nav {
  
}


/* main styles 
--------------------------------------------- */

#content {
  position: relative;
  top: 10.5em;
    
  .section {
    padding: 2em 1em 1em 1em;
    margin-bottom: 2.4em;

    h2 {
      font-size: 4em;
      padding-bottom: 0.45em;
    }
    
    h3 {
      font-size: 2em;
    }
    
    h4 {
      font-size: 1.8em;
    }
    
    h2 + p, h3 + p {
      padding-top: 1.45em;
      font-size: 1.3em;
      padding-bottom: 1.45em;
    }
    
    h2 + ul, h3 + ul, h4 + ul {
      padding-top: 1.2em;
    }
    
    p {
      font-size: 1.2em;
    }
  }
    
  #about {
    background: rgba(246, 31, 31, 0.2);
    
    p {
      width: 25em;
    }
  }
  
  .project_toggle {
    position: relative;
    
    a {
      display: block;
      width: 100px;
      height: 60px;
      background: #ddd;
      text-align: center;
      padding-top: 35px;
    }
    
    .prev {
      position: absolute;
      top: 3em;
      left: -10em;
    }

    .next {
      position: absolute;
      top: 3em;
      right: -10em;
    } 
  }
  
  #work {
    background: #fcd0a5;
    background-color: rgba(44, 43, 121, 0.1);
    padding-bottom: 0;
          
    ol {
      position: relative;
      
      li.project {
        padding-bottom: 1em;
        float: left;
        width: 79em;
        margin-right: 1em;
      
        .project-images {
          height: 30em;
          padding: 1em;
          background: #fffdf3;
          border: 1px solid #eee;
      
          .holder {
            background: #000;
            width: 100%;
            height: 100%;
            overflow: hidden;
      
            img {
              width: 100%;
            }
          }
        }
      
        .project-desc {
          width: 59.5%;
          float: left;
          padding: 1em 0 0 0;
        }
      
        .project-insight {
          float: left;
          width: 39.3%;
          padding: 1em 0 0 1em;
        }
      }
    }
  }
  
  #ethos {
    background: rgba(31, 223, 246, 0.2);
  }
  
  #process {
    background: rgba(246, 244, 31, 0.2);
  }
  
  #people, #contact {
    width: 38em;
    float: left;
  }
  
  #people {
    background: rgba(246, 31, 158, 0.2);
    
    ul {
      padding: 0;
    
      li {
        padding: 0 0 0 8.1em;
        float: left;
        width: 10.8em;
        position: relative;
        min-height: 6em;
    
        img {
          border: 0.45em solid #fff;
          position: absolute;
          left: 0;
          top: 0;
        } 
      }
    }
  }
  
  #contact {
    margin-left: 1em;
    background: rgba(76, 246, 31, 0.2);
  
    textarea {
      width: 98.5%;
      height: 10em;
      font-size: 1.2em;
    }
  }
}

/* headings */

h1 {
}

h2 {
  font-size: 1.8em;
}

h3 {
  
}

h4 {
  
}
	
span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.2em;
	color: #766557;
}

form {
  
  p {
    font-size: 0.8em;
    padding: 0.5em 0em;
    line-height: 1.8em;
  }
  
  p.submit {
    input {
      float: right;
    }
  }
  
  input {
    margin-bottom: 1em;
    max-width: 20em;
    width: 100%;
  }
  
  input, textarea {
    background: #eee;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #ccc;
    color: #333;
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
  }
  
  input:focus, textarea:focus {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    color: #222;
  }
  
  input[type=checkbox] {
    width: 1em;
    float: left;
    height: 1em;
    
    + label {
      float: left;
    }
    
    + label:hover {
      color: #333;
      cursor: pointer;
    }    
  }
  
  input[type=submit] {
    -moz-border-radius: 0.5em; /* FF1+ */
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-border-radius: 0.5em; /* Saf3+, Chrome */    
    -webkit-transition: all 0.3s linear;
    background: #ccc;
    border-radius: 0.3em; /* Opera 10.5, IE 9 */
    border: 1px solid #c5c5c5;
    color: #666;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.2em 1em 0.3em 1em;
    text-shadow: #eee 0px 1px 0;
    width: auto;
  }
  
  input[type=submit]:hover {
    background-color: #bbb;
    border: 1px solid #b5b5b5;
    color: #444;
    text-shadow: #ccc 0px 1px 0;
  }
  
  input[type=submit]:disabled {
    background-color: #ccc;
    border: 1px solid #c5c5c5;
    color: #666;
    cursor: default;
    opacity: 0.5;
    text-shadow: #eee 0px 1px 0;
  }
  
  label {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6em;
    
    span {
      font-size: 0.6em;
      font-weight: normal;
      color: #999;
    }
  }
}

/* footer 
--------------------------------------------- */


/* misc. 
--------------------------------------------- */

hr, .hide {
	display: none;
}
	
a img {
	border: none;
}

/* self-clear floats */

.group:after {
	content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}