%h2#show-and-tell-events Show and Tell Events

%p We host this event on the second Wednesday of every month, starting at 6.30pm and running for two hours. The idea is for people to demonstrate side projects, open-source projects, etc in an informal setting with the aim of garnering friendly and constructive feedback.

%p We started running the event back in April 2014 at the suggestion of Tom Stuart. At the time we had our own office with plenty of spare space and so we encouraged friends to come and make use of it. This led to lots of informal demos and chats about what we were all working on. We really enjoyed these sessions and so with Tom's encouragement, the GFR Show & Tell was born.

%p Although we no longer have our own office, we've enjoyed these events so much that we've continued to run them at various venues usually in the Shoreditch area.

%h3#meeting-format Meeting format

%p You don't need to have something to demo in order to participate. So if you're interested please do come along - your constructive feedback on other people's projects will always be welcome. Demos don't have to be technical in nature, although they should probably be aimed at a relatively technical audience. Reading the notes on previous meetings (see links below) will give you an indication of the types of projects that people have demoed in the past.

%p The meeting is always very informal with a typical turnout of 4-10 people. Depending on how many people have things to show, you will typically have up to about 20 mins to demo your thing. We aim to hold meetings in a room with wi-fi and a projector or large screen, usually connected to an Apple TV and/or Chromecast. Let us know in advance if you have specific requirements and we'll do our best to accommodate you.

%p The meeting usually lasts about 2 hours, but, for those who can spare the time, we usually decamp to a nearby hostelry for post-meeting refreshment. This is a chance to continue interesting discussions initiated during the meeting.

%p If you have any questions, please <a href='mailto:lets@gofreerange.com'>get in touch</a>.

%h3 Communication

%ul
  %li
    %a{href: 'https://groups.google.com/a/gofreerange.com/d/forum/show-and-tell'} Announcement mailing list
    %p
      %strong Note 1.
      Trying to subscribe to this Google Group with an email address doesn't appear to work: the "Join This Group" link in the email you receive is broken and results in a 404. You should be able to join if you're signed in to a Google account. Alternatively, send us an email and we can invite you.
    %p
      %strong Note 2.
      Subscribing to the Google Group will automatically invite you to a recurring calendar event for the Show & Tell. Please ignore the location of the first calendar event email you receive as it's our old office address. The actual location will be updated closer to the event (i.e. when we've found somewhere to host it!)
  %li
    %a{href: 'https://gfr-show-and-tell-slack.herokuapp.com/'} Slack channel
  %li
    %a{href: 'https://attending.io/freerange'} Events on Attending
  %li
    %a{href: 'http://lanyrd.com/series/gfr-show-and-tell/'} Event series on Lanyrd (deprecated)

%h3#upcoming-meetings Upcoming meetings

%ul
  %li
    Show and Tell 33<br>
    Wed 14 Jun 2017<br>
    Forge and Co, 154-158 Shoreditch High St, London E1 6HU<br>
    Add yourself on
    %a{href: 'https://attending.io/events/gfr-show-tell-33/'} attending.io

%h3#past-meetings Past meetings

{list-of kind:"show-and-tell", element:ul}

%h3#early-meetings-recorded-in-week-notes Early meetings (recorded in week notes)

%ul
  %li
    %a{href: '/week-286#show-and-tell'} Show and Tell 3
  %li
    %a{href: '/week-282#show-and-tell'} Show and Tell 2
  %li
    %a{href: '/week-274#show-and-tell'} Show and Tell 1

:is_page: true
:created_at: 2014-10-23 18:02:00 +01:00
:updated_at: 2015-07-31 13:20:00 +01:00
:layout: wiki-layout
:page_title: Show and Tell Events
