<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <%= image_tag 'logo', width: '38', height: '30' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/blog">Blog</a>
      <a class="nav-item nav-link" href="/projects">Projects</a>
      <a class="nav-item nav-link" href="/show-and-tell-events">Show & Tell</a>
    </div>
  </div>
</nav>
