<ul id="top_nav" class="nav group">
  <li id="link_blog"><p>Read our <a href="/blog">blog</a></p></li>
  <% if css_naked_day? %>
    <li>The website isn't broken, it's <a href="https://css-naked-day.github.io">CSS Naked Day!</a></li>
  <% end %>
</ul>
