<h2 id="tag">Mocha</h2>

<p>Mocha is a library for mocking and stubbing using a syntax like that of <a href="http://www.jmock.org/">JMock</a>.</p>

<p>It can be used with many testing frameworks e.g. <a href="http://www.ruby-doc.org/core/classes/Test/Unit.html">Test::Unit</a>, <a href="http://rspec.info/">RSpec</a>, <a href="http://chneukirchen.org/repos/testspec/README">test/spec</a>, <a href="http://expectations.rubyforge.org/">expectations</a>, <a href="http://dust.rubyforge.org/">Dust</a>, <a href="http://rubyforge.org/projects/bfts">MiniTest</a> and even <a href="http://jtestr.codehaus.org/">JtestR</a>.</p>

<p>Mocha provides a unified, simple and readable syntax for both traditional mocking and partial mocking.</p>

<h2>Documentation</h2>

<p>The documentation can be found at <a href="/mocha/docs">http://gofreerange.com/mocha/docs</a>.</p>

<h2>Source</h2>

<p>The sourcecode is available <a href="https://github.com/freerange/mocha">
on Github</a>.</p>


:kind: project
:display_name: "Mocha"
:layout: project-layout
