%p
  %a{:href => "/printer"} Back to main project page

%h2#tag
  Printer Kits.

.section.group
  %p
    Unfortunately we're not taking any orders for printer kits at the moment, although this may change in the future.
  %p
    Please follow
    %a{href: "http://twitter.com/gfrprinter"} GFRPrinter
    on Twitter to be notified about any and all news about this project.
  %p
    Don't forget, you can always order to components to
    %a{href: "https://github.com/freerange/printer/wiki/Making-your-own-printer"} make your own printer
    &hellip;


:layout: project-layout
