%h2#tag
  Printer.

.section.group
  %p
    An open source kit for exploring the possibilities of internet-of-things printing.

  %p
    VIDEO OR SOMETHING

  %p
    Read more about it in
    %a{:href => "/hello-printer"}
      the introductory blog post
    or go
    = succeed "." do
      %a{:href => "https://github.com/freerange/printer"}
        straight to the source

.section.group
  %h2 Borrow a Printer
  %p 
    If you've got a great idea for using Printer, we'd love to help you explore it. We have a very small number of printers that we can loan on a temporary basis.
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dENmT2RKMTJ1NnZ6c0R5RzBXMlJIcEE6MQ" width="606" height="608" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>    

.section.group
  %h2 Register interest in a Printer kit
  %p
    You can always buy the components to build a printer yourself, but we thought some people might be interested in purchasing a kit, pre-configured and ready to run.
  %p
    We don't know if we will actually go ahead with this; it depends in large part on the level of interest. The cost of everything required (printer, Arduino components) is probably in the ballpark of £80-100.
  <iframe src="https://docs.google.com/a/gofreerange.com/spreadsheet/embeddedform?formkey=dHFMOFdIWVo4Ym9ITDhhbHhibktOUHc6MQ" width="606" height="594" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

:layout: timmy-layout