* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Arial";
  background-color: #fff;
  color: #222;
}

#container {
  min-width:1000px;
}

#header {
  height:95px;
}

#header h1 {
  font-size: 3.3em;
  font-family: "Monaco";
  font-weight: normal;
  float:left;
  padding-left:50px;
}

#header #nav {
  float:right;
  padding-right:30px;
  padding-top:55px;
}

#header #nav #nav_links .toggle_content {
  cursor: pointer;
}

#header #nav ul {
  white-space:nowrap;
  list-style-type:none;
}
#header #nav li {
  float:left;
  font-size:1.3em;
  width:100px;
  font-family: "Arial";
  color: #888;
  height:50px;
  text-align:center;
}

#header #nav li.active {
  color: #111;
  background: url("/images/triangle.png") no-repeat;
  background-position: 40px 30px;
}

#feature {
  height:51px;
  color:#fff;
  font-family: "Arial";
  font-size:1.2em;
  background: #99ac39 url("/images/grad.png");
  background-repeat: repeat-x;
  background-position:bottom left;
  padding:20px 0px;
  padding-left:50px;
}

#content {
  margin-top: 0;
  margin: 1em auto;
  width: 900px;
  background-color:#fff;
  padding-bottom: 1em;
}

.slidey {
  position:absolute;
  width: 900px;
  padding-bottom: 1em;
}

#content h1 {
  font-size: 200%;
  margin-bottom: 0.5em;
  text-shadow: #eee 3px 2px 2px;
}

#content h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

#content ul {
  padding-left:40px;
}

#content p {
  margin-bottom: 0.5em;
}