/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


$font-family-base: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", serif, !default;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  @extend .mt-4;
}

h2#tag {
  @extend .text-center
}

ol {
  padding-left: 0
}

ol li {
  list-style-type: none
}
