%h2#tag
  Welcome to Project Codename: Timmy&nbsp;Printface.

.section.group
  %img#snapshot{:src => "http://public.lazyatom.com/timmy/snapshot.jpg"}

.section.group
  %h2 Play along
  %p 
    We're using the
    %a{:href => "https://api.hashblue.com"}
      \#blue API
    to print SMS messages as soon as they're received by 
    = succeed "," do
      %em Timmy
    one of our test handsets.
  %p 
    Try it yourself! 
    = succeed "." do
      %strong
        Text us a message at +447716354419

  %p 
    %a{:href => "https://hashblue.com"}
      \#blue
    is a beta service that 
    %a{:href => "http://gofreerange.com"}
      we at Go Free Range
    have been building for
    = succeed "." do
      %a{:href => "http://www.o2.co.uk"}
        O2
    If you're an O2 customer, you can
    = succeed "." do
      %a{:href => "https://hashblue.com/"}
        sign up today

  %p
    %em NOTE: while we're getting these messages directly from the API and internet, they do need to be received by the handset first, and that handset seems to be a bit flaky. If it takes a while for your SMS to appear, blame the Palm Pre!


:layout: timmy-layout