.blog_entry.group
  %p.article_date
    ENTRY_DATE

  .author
    %img{:src => "ENTRY_AUTHOR_IMAGE", :alt => "ENTRY_AUTHOR"}
    %span
      by ENTRY_AUTHOR

  .content
    ENTRY_CONTENT

  #comments.comments
    - if ENV['RACK_ENV'] == 'production'
      {disqus-commenting}
    - else
      Disqus commenting is only enabled in production.

#article_links
  %h3 Recent
  %ul#recent_articles
    {list-of kind:blog, limit:5}

{about-the-blog}
