<% content_for :top do %>
  <%= form_with(model: @mapping) do |form| %>
    <div>
      <%= form.text_field :url, placeholder: label_text(:url), class: 'form-control' %>
    </div>
    <div>
      <%= form.text_field :friendly_key, placeholder: "#{label_text(:friendly_key)} (optional)", class: 'form-control' %>
    </div>
    <div>
      <%= form.submit class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>
<% end %>
